/*
 * UserDataSetting css File
*/

/* #form-new-data input[type='text'], input[type="email"], input[type="password"] {
    display: none;
}

#user-setting-info #form-new-user-info div p i{
    cursor: pointer !important;
    color: red !important;
} */

